yfinance
pandas
matplotlib
numpy
scikit-learn
backtesting
bokeh
pip
holidays
polygon-api-client
scipy
openpyxl
psutil
tqdm
#cupy
pandas_market_calendars
pandas_datareader
seaborn
#mpl_toolkits
statsmodels
beautifulsoup4
flask
requests